body {
  overflow-y: hidden;
}

.login {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.td-cadastro{
  border-left: solid;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-color: rgb(207, 206, 206);
  border-width: .5px;
  padding: 10px;
  transition: 0.2s ease;
}
.td-login{
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-color: rgb(207, 206, 206);
  border-width: .5px;
  padding: 10px;
  transition: 0.2s ease;
}
.td-login:hover{
  border-left: solid;
  border-right: solid;
  border-top: solid;
  border-bottom: solid;
  border-color: rgb(113, 12, 186);
  border-width: 1.0px;
  transition: 0.2s ease;
}
.td-cadastro:hover{
  border-left: solid;
  border-right: solid;
  border-top: solid;
  border-bottom: solid;
  border-color: rgb(113, 12, 186);
  border-width: 1.0px;
  transition: 0.2s ease;

}


@media screen and (max-width: 500px) {
  .login {
    max-width: 500px;
  }
}
@media screen and (max-width: 400px) {
  .login {
    width: 360px;
  }
}
